/* Section first */
.first {
    background-image: url("/SRC/Imagens/Background.png");
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    align-items: center;
    text-align: center;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}

.container-box {
    margin: 0 6em;
}

.container-title {
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 2em;
}

.container-image {
    margin: 1em 0 2em 0;
}

.container-button {
    background-color: var(--botao-azul);
    border-radius: 5px;
    padding: 1em;
    color: var(--branco-principal);
    text-decoration: none;
    display: block;
    margin-bottom: 1em;
}

.button-second {
    background-color: transparent;
    border: 2px solid var(--branco-principal);
}

.container-notice {
    font-size: 12px;
    color: var(--cinza-secundario);
}

/* Section second */
.second {
    /* display: flex; */
    align-items: center;
    margin: 0 10em;
}

.second-image {
    width: 65%;
}    

.describe-title {
    font-weight: 700;
    font-size: 48px;
    color: var(--branco-principal);
    margin-bottom: 0.1em;
}

.describe-text {
    color: var(--cinza-secundario);
}

.text-second {
    margin-right: 2em;
}

.second-button {
    display: inline-block;
    margin-top: 1em;
}

.devices-lists {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin-bottom: 5em;
    font-size: 32px;
    color: var(--branco-principal);
    margin-top: 1em;
    margin-bottom: 2em;
}

.devices {
    justify-content: space-around;
    text-align: center;
}

.devices-title {
    font-size: 48px;
    color: var(--branco-principal);
    margin-bottom: 2em;
}

.container-button:hover {
    background-color: var(--botao-azul-efeito);
    color: var(--cor-de-fundo);
}

@media screen and (max-width: 767px) {
    .first {
        background-image: url("/SRC/Imagens/Background-celular.png");
        display: flex;
        justify-content: center;
        align-items: center;   
    }
    
    .container-title {
        font-size: 16px;
        padding-top: 15.5em;
    }

    .second {
        height: 65vh;
        display: flex;
        flex-direction: column;
        text-align: center;
        margin: 0 1em;
    }

    .describe-title {
        font-size: 20px;
        margin-bottom: 0.75em;
        margin-top: 0.75em;
    }

    .describe-text {
        font-size: 14px;  
    }

    .image-plus {
        width: 95%;
        order: -1;
    }

    .text-second {
        font-size: 14px;
        margin-right: 0;
        margin-top: 2.5em;
    }

    .second-button {
        margin-top: 2.5em;
    }

    .devices-title {
        font-size: 22px;
        margin-top: -5em;
    }

    .image-devices {
        width: 20%;
        margin-top: 2em;
    }
    
    .lists-item {
        font-size: 12px;
    }

    .list-link a {
        font-size: 10px;
        margin-left: 1em;
    }
}